div {
	margin-right: 54px;
	margin-left: 54px;
	margin-top: 12px;
	font-family: 'Verdana', sans-serif;
	font-size: 13px;
}

.topics p {
	font-size: 13px;
}
.topics h2 {
	background-color: #B3B6B7;
	color: black;
	font-weight: bold;
	font-family: 'Verdana', sans-serif;
	font-size: 14px;
}
.topics div {
	margin-right:0px;
	margin-left:0px;
	margin-top: 6px;
	padding-left: 0px;
}
.copyright {
	float: right;
/*	text-align: right;*/
}
.col-xs-9 li {
	margin-left: 0px;
}
.container-fluid .row p {
	margin-left: -14px;
}
/*.col-xs-3  p {
	padding-right: 24px;
}*/
.col-xs-12 {
	margin-left: -12px;
}
.col-xs-12 li {
	margin-left: 12px;
}
